

<!-- FORM SKELETON -->
 

<div class="sec sec--hero">
  <div class="cont">
    <div class="cont--small">
      <div class="text--center">
        <div id="Section-3" class="angle-container angle-container--form">
          <div class="angle--top">
          </div>
        </div>
        <div id="FormBlockGetInTouch" class="form-container">
          <div class="gap--big">
            <h1 id="Form" class="h1--form-login">Need Further Assistance?</h1>
            <span class="field-label--required">Fill the form below so we can further assist you.</span>
          </div>
          <div class="w-form" data-ix="fade-effect">
            <form id="wf-form-Rsoftware-Inquiry-Form" name="wf-form-Rsoftware-Inquiry-Form" data-name="Rsoftware Inquiry Form" class="form">
              <div class="w-row">
                <div class="col w-col w-col-6">
                    <div class="gap--med">
                      <label for="Company-Location" id="Company_Location_Label" class="field-label">Company location 
                        <span class="field-label--required">(required)</span>
                      </label>
                      <div class="input--text input--text-select">
                        <select id="location" name="location" data-name="location" required="" class="input--select w-select">
                          <option value="">
                          </option>
                        </select>
                      </div>
                    </div>
                  <div class="gap--med">
                    <label for="First-Name" id="First_Name_Label" class="field-label">First name 
                      <span class="field-label--required">(required)</span>
                    </label>
                    <input type="text" class="input--text w-input" maxlength="256" autofocus="false" name="First-Name" data-name="First Name" id="First-Name" required=""/>
                  </div>
                </div>
                <div class="col w-col w-col-6">
                  <div class="gap--med">
                    <label for="Last-Name" id="Last_Name_Label" class="field-label">Last name 
                      <span class="field-label--required">(required)</span>
                    </label>
                    <input type="text" name="Last-Name" data-name="Last Name" id="Last-Name" maxlength="256" required="" class="input--text w-input"/>
                  </div>
                  <div class="gap--med">
                    <label for="Practice-Firm-Name" id="Practice_Firm_Name_Label" class="field-label">Practice / Firm name 
                      <span class="field-label--required">(required)</span>
                    </label>
                    <input type="text" class="input--text w-input" maxlength="256" placeholder="Unique Name of Organization" name="Practice-Firm-Name" data-name="Practice Firm Name" id="Practice-Firm-Name" required=""/>
                  </div>
                </div>
                <div class="col w-col w-col-6">
                  <div class="gap--med">
                    <label for="Phone-Number" id="Phone_Number_Label" class="field-label">Phone number</label>
                    <input type="tel" id="Phone-Number" name="Phone-Number" data-name="Phone Number" maxlength="256" placeholder="+44 8080 808880" class="input--text w-input" required=""/>
                  </div>
                </div>
                <div class="col w-col w-col-6">
                  <div class="gap--med">
                    <label for="Email_Input-2" id="Work_Email_Label" class="field-label">Email to be reached at: 
                      <span class="field-label--required">(required)</span>
                    </label>
                    <input type="email" autofocus="false" maxlength="256" class="input--text w-input" maxlength="256" name="Email_Input" data-name="Email_Input" placeholder="youremail@example.com" id="Email_Input" required=""/>
                  </div>
                </div>
              </div>
              <div class="w-row">
                <div class="gap--med">
                  <textarea id="Additional-Notes" name="Additional-Notes" required="" placeholder="Please further provide details, so we can better assist you." data-name="Additional Notes" maxlength="5000" class="new-textbox-regist w-input"></textarea>
                </div> 
              </div>
              <div class="w-row">
                <div id="Terms_Service" class="gap--med">
                  <input type="radio" id="radio" name="radio" value="Radio" data-name="Radio" required="" />
                    <label for="radio">I understand and agree to the Rsoftware
                        <a href="/terms">Terms &amp; Services</a>
                        and
                        <a href="/privacy-policy">Privacy Policy</a>
                    </label>
                </div>
              </div>
              
              
              
              <!--BELOW IS THE NEW SUBMIT BUTTON?-->
              <div class="gap--small">
                <div data-ix="button-hover" class="submit-container">
                  <input type="submit" name="commit" value="" data-wait="processing your inquiry..." class="submit-button formsubmit button button-submit w-button">
                  <div class="send-to-back">
                    <a href="#" id="submit-form" class="buttonconversion w-inline-block">
                      <div class="button--move" style="transform-style: preserve-3d; transition: transform 250ms; transform: translateX(0px) translateY(0px) translateZ(0px);">
                        <div class="button--text">Send
                        </div>
                        <div class="button--ico-right" style="transform-style: preserve-3d; transition: transform 250ms; transform: translateX(0px) translateY(0px) translateZ(0px);">
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!--ABOVE IS NEW SUBMIT BUTTON ATTEMP-->
              
              
              <div class="div-block-4"></div>
            </form>
            <div class="success-message-2">
                <div id="form-feedback" data-ix="fade-effect" class="cont">
                  <div class="alert alert-success">
                    <a href="#" data-dismiss="alert" class="close">
                        <h3 class="h1--form-login">x</h3>
                    </a>
                            <h3>
                                Thank you! Your submission has been received! We'll sending a response very soon.
                            </h3>
                  </div>
                </div>
            </div>
            <div class="error-message w-form-fail" data-w-id="8f4612a6-5580-586f-2834-2473b509e1ad">
              <div class="w-form-fail" style="display: block;" data-w-id="8f4612a6-5580-586f-2834-2473b509e1ad">
                    <div data-w-id="5fcd6f07-0953-6dcf-ae39-f6868ec4b3a7">Oops! Something went wrong while submitting the form</div>
                </div>
            </div>
          </div>
        </div>





        <div class="angle-container angle-container--form">
          <div class="angle--bottom">
          </div>
        </div>









                   
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://uploads-ssl.webflow.com/5ae794a28423adf417cdd38c/js/mrgiformrsoftware.980ff8119.js" type="text/javascript"></script>
        <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
        <script>
                  (function ($, hljs, undefined) {
                    'use strict'
                
                    var $document = $(document)
                    var $window = $(window)
                
                    hljs.initHighlightingOnLoad()
                
                    try {
                      if ('serviceWorker' in navigator) {
                        navigator.serviceWorker.register('/assets/js/service-worker.js')
                      }
                    } catch (ex) {
                      console.error(ex)
                    }
                
                    $document.ready(function () {
                      var $postContent = $(".post-content")
                      var $btnNav = $('#btn-nav')
                      var $navEl = $('#main-nav')
                      var $floatingCta = $('.floating-cta')
                      var $interactiveCard = $('.card.interactive')
                      var $cardLink = $('.card a').first()
                      var cardLinkValue = $cardLink.attr('href')
                      var $ctaServices = $('#cta-services')
                      var $ctaSupport = $('#cta-support')
                      var $searchField = $('#search-field')
                
                      // setup search field
                      $searchField.ghostHunter({
                        results: '#results',
                        onKeyUp: true,
                        includepages: true,
                        result_template: "<a href='\{\{link\}\}'><p><h1>\{\{title\}\}</h1><h4>\{\{pubDate\}\}</h4>\{\{description\}\}</p></a>"
                      })
                      $searchField.keyup(function (event) {
                        if (event.target.value === "") {
                          $searchField.clear();
                        }
                      })
                
                      if (cardLinkValue) {
                        $cardLink.attr('href', cardLinkValue + '&utm_content=' + window.location.pathname)
                      }
                
                      $interactiveCard.on('click', 'button', function (e) {
                        if ($(e.toElement).attr('data-answer') === 'correct') {
                          setTimeout(function () {
                            $interactiveCard.find('#answer-correct').show()
                          }, 2100)
                        } else {
                          setTimeout(function () {
                            $interactiveCard.find('#answer-incorrect').show()
                          }, 2100)
                        }
                        $interactiveCard.find('button').hide()
                        $interactiveCard.find('.spinner').show()
                
                        setTimeout(function () {
                          $interactiveCard.find('.spinner').hide()
                        }, 2000)
                      })
                
                      $btnNav.on('click', function (e) {
                        if (!$navEl.is(':visible')) {
                          $navEl.show()
                        }
                        else {
                          $navEl.hide()
                        }
                      })
                
                      /*
                      * Adding the dropdown stuffz
                      * */
                      $('.dropdown-toggle').on('mouseenter', function () {
                        $(this).addClass('active')
                      })
                
                      $('.dropdown-toggle').on('mouseleave', function () {
                        $(this).removeClass('active')
                      })
                    })
                
                    function progressBar () {
                      // grabbed from the www
                      // not my proudest commit
                      // IIFE so no side-effects happen
                      // TODO: refactor
                      var getMax = function () {
                        return $document.height() - $(window).height()
                      }
                
                      var getValue = function ()  {
                        return $window.scrollTop()
                      }
                
                      var getWidth = function(){
                        // Calculate width in percentage
                        value = getValue()
                        width = (value/max) * 100
                        width = width + '%'
                        return width
                      }
                
                      var setWidth = function(){
                        progressBar.css({ width: getWidth() })
                      }
                
                      var progressBar = $('.progress-bar')
                      var max = getMax()
                      var value
                      var width
                
                      $document.on('scroll', setWidth)
                      $window.on('resize', function(){
                        // Need to reset the Max attr
                        max = getMax()
                        setWidth()
                      })
                    }
                
                    progressBar()
                
                    window.addEventListener("load", function(){
                      window.cookieconsent.initialise({
                        "location": true,
                        "palette": {
                        "popup": {
                          "background": "#dedede",
                          "text": "#404040"
                        },
                        "button": {
                          "background": "#8ec760",
                          "text": "#ffffff"
                        }
                        },
                        "theme": "edgeless",
                        "content": {
                        "href": "https://blog.risingstack.com/privacy-policy/"
                        }
                      })
                    })
                
                    window.twttr = (function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {}
                      if (d.getElementById(id)) return t
                      js = d.createElement(s)
                      js.id = id
                      js.src = "https://platform.twitter.com/widgets.js"
                      fjs.parentNode.insertBefore(js, fjs)
                
                      t._e = []
                      t.ready = function(f) {
                        t._e.push(f)
                      }
                
                      return t
                    }(document, "script", "twitter-wjs"))
                
                })(jQuery, hljs)
        </script>




