<% flash.each do |key, value| %>
<div data-ix="fade-effect" class="cont">
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">
        <h3 class="h1--form-login">x</h3>
    </a>
            <h3>
              <%= value %>
            </h3>
  </div>
</div>
<% end %>
